.commentBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
    position: absolute;
    right: 100px;
    top: 50px;
}
/*todo: change to minimize button*/
.close {
    vertical-align: middle;
    right: 10px;
}

.titleBox {
    background-color:#fdfdfd;
    padding:5px;
    cursor: move;
    min-height: 30px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    background-color:#fdfdfd;
    border-top:1px dotted #bbb;
    padding:10px;
}
